* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  background-color: #7ee8fa;
  background: linear-gradient(235deg, #7ee8fa 0%, #80ff72 70%);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 3em;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: auto;
  -ms-grid-columns: (minmax(80px, auto))[8];
      grid-template-columns: repeat(8, minmax(80px, auto));
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
      grid-template-areas: "header header header header header header header header" "main main main main sidebar sidebar sidebar sidebar" "main main main main sidebar sidebar sidebar  sidebar" "footer footer footer footer footer footer footer footer";
}

header {
  grid-column: 1/-1;
  grid-row: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: header;
  margin-top: 1em;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 300%;
  font-family: "Crimson-text", sans-serif;
  background: linear-gradient(235deg, #7ee8fa 0%, #80ff72 70%);
  color: #272727;
}

main {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: auto;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
  margin-left: 2em;
  width: 60%;
  font-size: 1.5em;
}

main h3 {
  font-size: 125%;
  margin-top: 7vh;
  color: #5636e4;
  font-family: "Crimson-text", sans-serif;
  margin-bottom: 10px;
}

main h6 {
  font-weight: 500;
}

#sidebar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: sidebar;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 10vh 4vw;
}

.footer {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 4;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: footer;
  margin-left: 2em;
  margin-top: -3em;
}

.footer p {
  display: none;
  margin-top: 1em;
}

.photo {
  border-radius: 90% 20%;
}

.btn {
  padding: 10px 15px;
  border: 2px solid #5636e4;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 1.10em;
}

@media only screen and (max-width: 480px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header" "sidebar" "main";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    font-size: 225%;
    margin-top: -1em;
    letter-spacing: 3px;
    margin-right: -3px;
  }
  main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
    -ms-grid-column: 1;
    grid-column: 1fr;
    grid-row: auto;
  }
  main h3 {
    font-size: 100%;
    letter-spacing: 3px;
    margin-right: -3px;
    text-align: left;
  }
  main h6 {
    font-size: 95%;
    width: 120%;
    text-align: left;
  }
  #sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sidebar;
    -ms-grid-column: 1;
    grid-column: 1fr;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .photo {
    width: 95%;
  }
  .footer {
    display: none;
  }
  .btn {
    display: none;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1199px) {
  .footer {
    margin-top: 1em;
  }
}
/*# sourceMappingURL=style.css.map */