* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --font-size: 1rem;
    --sec-title-h2-480: 2.5rem;
    --fs1: 4.5rem;
    --fs2: 2.0rem;
    --fs3: 1.50rem;
    --fs2-480: 1.75rem;
    --fs3-480: 1.25rem;
    --fsbody: 1.00rem;
    --fsbody-sm: .75rem;
    --fsbody-med: 1.25rem;
    --fsbody-lg: 1.50rem;
    --fsbody-xlg: 2rem;
    --color-btext: #252525;
    --color-blue: #005da3;
    --main-radius: 5px;
    --main-padding: 5px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
    font-size: 1rem;
    letter-spacing: normal;
    padding: 0px 0 0;
}

body #facts {
    background-color: #fff;
    color: #252525;
    font-family: "Crimson-text", sans-serif;
}

/* 
main .site-content {
    padding-top: 0;
} */

/* ============================ */

figure,
p,
address {
    margin: 0;
    padding: 0;

}

p {
    font-size: var(--fsbody);
}

@media (min-width: 768px) {
    p {
        font-size: var(--fsbody-lg);
    }
}

iframe {
    border: 0;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    color: #272727;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #252525;
    font-family: "Crimson Text", sans-serif;
}

h1 {
    font-family: "Roboto", sans-serif;
    top: -.5em;
}

.sec-title h2 {
    font-family: "Open Sans", sans-serif;
    font-size: var(--fs2);
    margin-top: 0em;
    text-align: center;
    justify-content: center;
}

h3 {
    font-size: var(--fs3);
}

@media (max-width: 480px) {
    .sec-title h2 {
        font-size: var(--fs2-480);
    }

    h3 {
        font-size: var(--fs3-480);
    }
}

/*Terms of Use*/

.title {
    font-size: 120%;
    color: #5584dd;
    text-align: center;
}

.docs {
    margin: 40px 40px;
    font-size: 100%;
    color: #818181;
}

#accordion h3 {
    color: #5584dd;
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 120%;
    padding-left: 40px;
    background-color: darkgray;
}

#accordion p {
    color: #818181;
    padding-left: 40px;
}

/*End of Terms of Use*/

#service h3 {
    color: #0f96e0;
}

.container-footer {
    display: grid;
    grid-auto-columns: (auto-fit, minmax(auto, 1fr));
    grid-gap: 1em;
}

@media (max-width: 480px) {
    .container-footer {
        grid-column: span 12;
        grid-gap: 2em;
    }
}

.lead {
    position: relative;
    font-family: "Crimson-text", sans-serif;
    color: green;
    font-weight: 500;
    font-size: 2em;
    line-height: 0.75em;
    left: -1em;
    width: 100%;
}

@media (min-width: 768px) {
    .lead {
        font-size: 3em;
        padding: 10px 15px;
        font-size: 2em;
        line-height: 1em;
        left: -0.5em;
    }
}

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
    text-transform: uppercase;
}

/* ***For Desktops*** */

.btn-blue {

    position: absolute;
    -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    top: 3em;
    left: 0.25em;
    padding: 10px 20px;
    color: red;
    font-weight: bolder;
    letter-spacing: 1.2px;
    margin-bottom: -1.5em;
    font-size: 0.8em;
    background: url("../img/slider/arrowsright.png") no-repeat right top, yellow;
    border-radius: 8px;
    z-index: 99;
}

@media (max-width: 480px) {
    .btn-blue {
        top: 14.5em;
        margin-left: 11px;
    }
}

@media (min-width: 482px) and (max-width: 699px) {
    .btn-blue {
        top: 39.5em;
        margin-left: 11px;
    }
}

/* older iPad 9.7-inch */

@media (min-width: 768px) and (max-width: 1024px) {
    .btn-blue {
        top: 23em;
        margin-left: 13px;
    }
}

@media (min-width: 1200px) and (min-resolution: 2dppx) and (max-width: 1364px) {
    .btn-blue {
        top: 14em;
    }
}

@media (min-width: 1364px) and (max-width: 2560px) {
    .btn-blue {
        top: 3em;
    }
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    font-size: 0.7em;
    font-weight: 500;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.bg-blue {
    background-color: #0058a3;
}

.btn-start {
    position: relative;
    background-color: green;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-weight: 900;
    font-size: 0.7em;
    padding: 10px 20px;
    margin: 0 auto;
    top: 3em;
    left: 0;
    width: 100%;
}

/* for small screen */

@media (min-width: 768px) {
    .btn-start {
        top: 2em;
        font-size: 1em;
        padding: 10px 15px;
    }
}

@media (min-width: 1024px) {
    .btn-start {
        top: 2em;
        font-size: 3em;
        padding: 10px 15px;
        line-height: 1em;
        padding: 0;
        left: -2em;
    }
}

/* Sweep To Right */

.btn-effect {
    vertical-align: middle;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    display: inline-block;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-osx-font-smoothing: grayscale;
}

#facts .btn-effect:before {
    background: url(../img/slider/arrowsleft.png) no-repeat left bottom, #aa1406;
}

.btn-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/slider/arrowsleft.png) no-repeat left bottom, red;
    border-radius: 8px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-effect:hover {
    background: green;
    color: white;
}

.btn-effect:focus {
    background: purple;
    color: white;
}

.btn-effect:active {
    color: #fff;
    background-color: #736758;
}

.btn-effect:hover:before,
.btn-effect:focus:before,
.btn-effect:active:before {
    border-radius: 8px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.sec-title {
    margin-bottom: 50px;
    margin-top: 20px;
}

.sec-title h2 {
    display: block;
    letter-spacing: 10px;
    margin: 70px 0 30px;
    padding-bottom: 0px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    color: #d2b48c;
    font-weight: 500;
    width: 100%;
    font-size: var(--fs2);
}

.sec-title.white h2::after {
    border-bottom: none;
}

.sec-title h3 {
    color: #ececec;
    font-size: var(--fsbody-med);
}

.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*	Preloader
/* ==========================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: white;
}

.preloader .loader .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: blue;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader .loader .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader .loader .dots span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: red;
    border-radius: 50%;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

/* overlay */
/* ++++++++++++++++++++++++++++++++++++++++++ */

.wrapper {
    position: relative;

}

/* ==========================================*/

#navigation {
    /* margin-left: auto; */
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

#navigation a:hover {
    border-bottom: 2px #fff solid;
    color: red;
    cursor: pointer;
}

#navigation a:focus {
    color: #02816a;
}

#navigation.animated-header {
    /* height: 16vh; */
    padding: 20px 0px;
    overflow: hidden;
}

/* =====added by M======= */
.navbar-default:not(.animated-header) {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.navbar {
    height: 25px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: goldenrod;
}

.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #000;
}

.navbar-default .navbar-toggle {
    border-radius: 8px;
    border-color: #fff;
    top: 12px;
    right: 8px;
    background: transparent;
    /* z-index: 20000; */
}

.navbar-default .navbar-toggle:hover {
    background-color: #111;
}

.navbar-default .navbar-toggle:focus {
    background-color: #000;
}

/* ====Added by M===== */
.navbar .brand-centered h1 {
    top: .5em;
    margin: -1em 0 0 15px;
    padding: 5px 0 0 0;
    overflow: hidden;
}

@media (max-width: 480px) {
    .navbar-toggle {
        background-color: transparent;
        z-index: 20000;
        margin-top: -4.25em;
    }

    .navbar .brand-centered h1 {
        display: flex;
        align-items: left;
    }
}

@media (max-width: 768px) {
    .navbar img {
        margin-left: 20px;
        margin-top: 1em;
    }
}

.navbar-header ul {
    display: flex;
    width: 100%;
    max-width: 100%;
    0 justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

.navbar-default {
    background-color: transparent;
    overflow: hidden;
    z-index: 20000;
}

.navbar-toggle {
    margin-top: -4em;
}

.navbar-default .navbar-nav>li>a {
    font-family: "Roboto", sans-serif;
    font-size: var(--fsbody);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 1.25em;
    overflow: hidden;
    color: var(--primary-color);
}

nav>ul>li:nth-last-child(1) {
    display: inline-block;
    font-weight: 900;
    border-radius: 8px;
    font-size: var(--fsbody-sm);
    transition: background 5s, color 2s;
    overflow: hidden;
}

@media (max-width: 991px) {

    /* //makes nav toggle collapse at larger size. */
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-header .navbar-toggle {
        display: block;
    }

    .navbar-default.navbar-toggle {
        border-radius: 8px;
        border-color: #fff;
        top: 12px;
        right: 8px;

    }

    .navbar-default .navbar-toggle:hover {
        background-color: #000;
    }

    .navbar-default .navbar-toggle:focus {
        background-color: #000;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

}

/* Home Slider */
/* ================================================================== */

#home-slider {
    position: relative;
    padding: 0;
}

.sl-slider-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: relative;
    top: 0;
    left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sl-slide {
    z-index: 0;
}

/* For Desktops */

.sherry {

    background: #0058a3;
    color: #ececec;
    border-radius: 10% 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    font-weight: 900;
}

.sherry:hover {
    color: red;
}

span .sherry2 {
    color: transparent
}

.sherry1 {
    color: #000;
    font-family: "Crimson-text", sans-serif;
    font-size: 1.5em;
}

@media (max-width: 480px) {
    .sherry1 {
        font-size: 1rem;
    }
}

span .sherry1:hover {
    color: black;
}

/* The duplicate parts/slices */

.sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */

.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 100%;
}

/* Project laughtbox setup */

.fancybox-item.fancybox-close {
    background: url("../img/icons/close.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    right: 0;
    top: 0;
    width: 50px;
}

.fancybox-next span {
    background: url("../img/right.png") no-repeat scroll center center #5584dd;
    height: 50px;
    width: 50px;
    right: 0;
}

.fancybox-prev span {
    background: url("../img/left.png") no-repeat scroll center center #5584dd;
    height: 50px;
    width: 50px;
    left: 0;
}

/*=================================================================
About
==================================================================*/

#about {
    background-image: url("../img/slider/banner.jpg");
    background-color: #000;
    font-size: var(--sec-title-h2-480);
}

#about .work-item {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    margin-left: 1em;
    margin-top: .33em;
    font-size: var(--fsbody);
    color: #fff;
}

#about .recent-works h3 {
    display: flex;
    margin: 3rem 0 1rem 3.5rem;
    /* margin-bottom: 1rem; */
    font-size: var(--fs3);
    color: #fff;
}

#about .work-item .fa-ul p {
    font-size: var(--fsbody);
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

#about .welcome-block h3 {
    display: flex;
    margin: 3rem 0 4rem;
    margin-bottom: 1.5em;
    font-size: var(--fs3);
    color: #fff;
}

#about .message-body {
    margin-top: -25px;
    margin-bottom: 70px;
    margin-right: 20px;
    line-height: 1.5em;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: var(--fsbody);
}

#about .summary-statement p {
    color: #d2b48c;
    font-weight: 500;
    font-size: var(--fsbody);

}

#about .mobile {
    font-size: var(--fsbody);
    font-weight: 300;
    padding-bottom: 2em;
}

#gettingstarted .fa-ul li i {
    color: green;
}

#about .fa-ul li i {
    color: red;
    font-size: 1.5rem;
}

.owl-buttons {
    border: 2px solid #fff;
    display: inline-block;
    color: red;
    top: auto;
    padding: 4px 8px;
    font-size: var(--fsbody-sm);
}

.owl-buttons>div {
    display: inline-block;
    padding: 0 .25em;
}

.welcome-message {
    padding: 0 50px;
}

.welcome-message p {
    margin-left: 135px;
    line-height: 1.5em;
    font-size: var(--fsbody);
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
    #about {
        margin-top: 0em;
    }

    #about .welcome-block h3 {
        margin-top: -2rem;
        color: #fff;
    }

    #about .message-body {
        margin-left: 1.5em;
    }

    #about .summary-statement p {
        margin-top: 0em;
    }

    #about .work-item .fa-ul {
        margin-left: 1em;
    }

    #about .recent-works p {
        width: 90%;
    }

}

@media (max-width: 767px) {

    #about .fa-ul li i {
        color: red;
    }

    #about .recent-works p {
        font-size: var(--fsbody);
        font-weight: 400;
        width: 70%;
        letter-spacing: 3px;
        line-height: 1.45em;
    }

    #about .welcome-block h3 {
        padding-left: 1.5em;
    }

    #about .message-body {
        width: 80%;
        margin-left: 2em;
        letter-spacing: 3px;
        line-height: 1.45em;
    }

    #about .recent-works h3 {
        margin-top: 45px;
        margin-left: 1.5em;
    }
}

@media (max-width: 1199px) {

    #about {
        background-image: none;
        background: #000;
    }

    #about .overlay1 {
        background: transparent;
        padding: 100px 0 120px;
    }
}

/*
=================================================================
Services
==================================================================*/

#service {
    /* background-image: url("../img/slider/banner.jpg"); */
    background-color: #000;
}

.sec-title h3 {
    font-size: var(--fs3);
}

@media (max-width: 480px) {

    .service-icon i {
        color: #d2b48c;
        -webkit-transform: rotate(48deg);
        transform: rotate(-48deg);
        align-items: center;
        justify-items: center;
        padding-left: 19px;
        padding-top: -20px;
    }

    #service h2 {
        font-size: var(--fs2-480);
        margin-top: -4em;
    }
}

@media (max-width: 768px) {
    .service-icon i {
        display: flex;
        color: #d2b48c;
        -webkit-transform: rotate(48deg);
        transform: rotate(-48deg);
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        top: 50%;
        /* padding-top: -16px; */
    }


}

@media (max-width: 1024px) {
    #service {
        background-image: none;
        background-color: #000;
    }

    #service .parallax {
        display: none;
    }
}

.service-item:hover .service-icon {
    text-transform: lowercase;
    color: green;
}

.service-icon {
    border: 3px solid;
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 101px;
    color: #d2b48c;
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.service-item:hover .service-icon {
    border: 3px solid #5584dd;
    margin-bottom: 20px;
    color: #5584dd;

}

.service-icon i {
    display: inline-block;
    color: #d2b48c;
    /* text-align: center; */
    /* vertical-align: middle; */
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
}

.service-item h3 {
    /* text-transform: lowercase; */
    color: #5584dd;

}

#service p {
    /* color: #d2b48c; */
    color: #ececec;
    letter-spacing: 1.5px;
    font-size: var(--fsbody-med);
    font-weight: 300;
}

/*=================================================================
Portfolio
==================================================================*/

#portfolio {
    background-image: url("../img/slider/banner.jpg");
    background-color: #000;
}

.project-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.project-wrapper li {
    display: inline-block;
}

#portfolio h3 {
    line-height: 1.5em;
}

.portfolio-item {
    position: relative;
    cursor: pointer;
    margin: 0 1% 1% 0;
    overflow: hidden;
    position: relative;
    width: 32%;
}

.project-wrapper .doe {
    width: 100%;
}

.portfolio-item p {
    object-fit: contain;
}

.doe-description {
    position: absolute;
    z-index: 999;
    margin-bottom: .1rem;
    right: .5rem;
    top: 8%;
    font-size: var(--fsbody-sm);
    width: 40%;
    color: #fff;
}

@media (max-width: 480px) {
    .doe-description {
        top: 55%;
        font-size: .5rem;
        line-height: .5em;
        display: none;
    }

    */ ul .external {
        margin-top: 4em;
    }
}

figcaption.mask {
    /* background-color: rgba(240, 230, 140, 0.69); */
    bottom: -166px;
    font-size: .25em;
    color: #fff;
    padding: 25px;
    position: absolute;
    width: 100%;
    text-align: left;
    -webkit-transition: all 0.4s ease 0s;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    transition: all 0.4s ease 0s;
}

.portfolio-item:hover figcaption.mask {
    bottom: .1em;
    background-color: blue;
    font-size: 80%;

}

figcaption.mask {
    margin: 0;
    color: #fff;
    font-size: var(--fsbody-sm);
    padding-top: 16px;
    padding-bottom: 6px;
}

ul.external {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

ul .external li a {
    background-color: blue;
    /* color: #005da3; */
    color: #fff;
    font-size: (var(--fsbody-sm));
    display: block;
    padding: 10px 18px 13px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

ul .external li a:hover {
    /* background-color: #5584dd; */
    color: #fff;
    background-color: #333;
    font-size: 70%;
}

.portfolio-item:hover ul.external {
    top: 0;

}

.fancybox-skin {
    border-radius: 0;
    display: inline-block;
}

.fancybox-title .fancybox-title-inside-wrap {
    padding: 0;
}

.fancybox-title h3 {
    margin: 0 0 15px;

}

.fancybox p {

    color: #fff;
    line-height: 1.2em;
    font-size: var(--fsbody-sm);
}

.fancybox-title-inside-wrap {
    padding-top: 0;

}

/*=================================================================
Testimonials
==================================================================*/
#testimonials {
    background-image: url("../img/parallax/testimonial.jpg");
    padding: 0;
}

#testimonials .overlay1 {
    background-color: rgba(15, 155, 224, 0.85);
    padding: 100px 0 120px;
}

/* .sec-title h2 {
    font-weight: 900;
    font-size: var(--sec-title-h2-480);
} */

.testimonial-content {

    position: relative;
    margin: 0 auto;
    padding-bottom: 50px;
    width: 68%;
    letter-spacing: 1.5px;
    font-weight: 400;
    line-height: 1em;

}

/* **name of bank */
.testimonial-content h3 {
    color: #ececec;
    font-size: var(--fh3);
}

.testimonial-content p {
    font-family: Crimson Text, sans-serif;
    font-size: var(--fsbody-med);
    color: #ececec;

}

/* **image */
.testimonial-item img {
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: auto;
    max-width: 100px;
}

/* **name under image */
.testimonial-item>div {
    line-height: 30px;
    position: relative;
    color: darkgray;
    font-weight: bold;
    font-size: var(--fsbody-lg);
}


@media (max-width: 480px) {
    .sec-title h2 {
        font-size: var(--fs2-480);
        margin-top: -3em;
    }

    #testimonials {
        background: rgba(15, 155, 224, 0.95);
        margin-bottom: -7em;
    }

    #testimonials p {
        text-align: left;
        width: 120%;
        color: #fff;
        font-size: var(--fsbody-med);
    }

    .testimonial-item h3 {
        font-size: var(--fs2-480);
    }

    .testimonial-item p {
        font-size: var(--fsbody-lg);
        line-height: 1.3;
        letter-spacing: 2px;
        text-align: center;
    }

    @media (max-width: 768px) {
        #testimonials p {
            font-size: 1em;
            color: #fff;
            letter-spacing: 3px;
            line-height: 1.25em;
        }
    }

    @media (min-width: 991px) {
        #testimonial p {
            font-size: 1em;
            color: red;
        }
    }
}

/*PRICING SECTION */
#price {
    background-image: url("../img/slider/banner.jpg");
    /* background-color: #141414; */
}

#price h3 {
    font-size: var(--fs2);
}

#price .overlay1 {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 100px 0 120px;
}

@media (max-width: 1199px) {

    #price {
        background-image: none;
        background: #000;
    }

    #price .overlay1 {
        background: transparent;
        padding: 100px 0 120px;
    }
}

.price-table h3 {
    color: red;
    font-size: var(--fsbody-xlg);
    font-weight: 400;
}

@media (max-width: 480px) {
    #price h3 {
        font-size: 1.5rem;
    }

    #price h2 {
        margin-top: 1em
    }
}

.price-table {
    border: 2px solid #005da3;
}

.price-table.featured {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.19);
}

.price-table>span {
    color: #005da3;
    display: block;
    padding: 30px 0;
    text-transform: uppercase;
}

.price-table .value {
    background-color: #f8f8f8;
    color: #727272;
    font-size: var(--fsbody);
    padding: 20px 0;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.price-table.featured .value {
    color: #000;
}

.price-table .value span {
    display: inline-block;
}

.price-table .value span:first-child {
    line-height: 32px;
}

.price-table .value span:nth-child(2) {
    line-height: 65px;
    margin-bottom: 25px;
}

.price-table .value span:last-child {
    color: #005da3;
}

.price-table ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

}

.price-table ul li {
    border-top: 1px solid #e3e3e3;
    display: block;
    padding: 25px 0;
    color: #d2b48c;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    font-size: var(--fsbody);
}

.price-table ul li a {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: var(--fsbody-lg);

}

.price-table.featured ul li:last-child,
.price-table ul li:last-child:hover {
    background-color: #005da3;

}

.price-table.featured ul li:nth-child(2) a,
.price-table ul li:last-child:hover a {
    color: red;
    font-weight: 400;
}

/*=================================================================
Price end
==================================================================*/

/*=================================================================
Contact
==================================================================*/

#contact {
    background-image: url("../img/slider/banner.jpg");
    background-color: #000;
}

#contact .overlay1 {
    background: url("../img/slider/banner.jpg") repeat scroll 0 0 transparent;
    padding: 100px 0 120px;
}

@media (max-width: 480px) {
    #contact h2 {
        margin-top: -1em;
    }

}

@media (max-width: 1024px) {
    #contact {
        background-image: none;
        background-color: #141414;
    }

    #contact .overlay1 {
        background-color: rgba(15, 155, 224, 0.78);
    }
}

.input-field {
    margin-bottom: 10px;
}

.form-control {
    position: relative;
    border: 2px solid #fff;
    border-radius: 0 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
    font-size: var(--fsbody-med);
    background-color: #0f9be0;
    color: #ececec;
}

textarea.form-control {
    width: 100%;
    height: 165px;
    color: #fff;
}

#submit:hover {
    color: #fff;
}

#submit:before {
    background-color: #5584dd;
    background: url("../img/slider/arrowsleft.png") no-repeat left bottom, #0f9be0;
    border-radius: 8px;
    color: #fff;

}

#submit.btn-effect:after {
    background: #fff;
}

.btn-gray {
    -webkit-box-shadow: 0 -1px 0 rgba(13, 37, 117, 0.25);
    box-shadow: 0 -1px 0 rgba(13, 37, 117, 0.25);
    padding: 6px 8px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: 700;
    color: #5584dd;
    font-size: var(--fsbody-sm);
}

.btn-contact {
    -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 10px 20px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 95%;
    background: url("../img/slider/arrowsright.png") no-repeat right top, #0058a3;
    border-radius: 8px;
}

.contact-details h3 {
    border-bottom: 1px solid #fff;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.contact-details p {
    line-height: 30px;
    color: #fff;
    /* color: #5584dd; */
    font-size: var(--fsbody-med);
    font-weight: 300;
    margin-top: 0;
}

.contact-details p i {
    margin-right: 10px;
    color: #d2b48c;
}

.contact-details span {
    display: block;
    margin-left: 24px;
    color: #d2b48c;
}

.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
    opacity: 0.3;
    color: inherit;
}

.form-control:-moz-placeholder,
:-moz-placeholder {
    /* Firefox 18- */
    opacity: 0.3;
    color: inherit;
}

.form-control::-moz-placeholder,
::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0.3;
    color: inherit;
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
    opacity: 0.3;
    color: inherit;
}

/*
THANK YOU MESSAGE
++++++++++++++++++++++++++++++++++++++++++++++++++=*/

.thank-you-block h2 {
    margin-top: 60px;
    margin-left: 30px;
}

.thanks-body p {
    color: #5584dd;
    font-size: 1.5em;
    margin: 30px;
    line-height: 100%;
}

/*============================================================
Footer
==============================================================*/

#footer {
    background-image: url("../img/slider/banner.jpg");
    background-color: #141414;
}

#footer .overlay1 {
    background: url("../img/slider/banner.jpg") repeat scroll 0 0 transparent;
    padding: 100px 0 120px;
}

@media (max-width: 480px) {
    .footer-content p {
        font-size: var(--fsbody-med);
        margin: 0 1em;
        letter-spacing: 2px;
        line-height: 1em;

    }
}

@media (max-width: 1199px) {
    #footer {
        background: #141414;
        /* background-color: rgba(15, 155, 224, 0.78); */
        padding: 100px 0 120px;
    }

    #footer .parallax {
        display: none;
    }
}

.sec-title .footer-content h2 {
    display: flex;
    flex-wrap: none;
    width: 32vw;
    padding-top: 0;
    text-transform: uppercase;

}

.footer-content {
    width: 100%;
    margin: 0 auto;
}

.footer-content>p {
    color: #fff;
    font-size: var(--fsbody);
    letter-spacing: 1px;

}

.footer-content>div {
    margin-bottom: 2em;
    padding-bottom: 0;
    color: #fff;
}

.footer-content>div>p:first-child {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: var(--fsbody);
}

.footer-content .list-inline li a {
    color: #fff;
    text-decoration: underline;
    font-size: var(--fsbody);
}



/* .subscribe .form-control {
    position: relative;
}

.subscribe-form {
    margin-right: 20px;
    display: block;
}

@media (max-width: 767px) {
    .subscribe-form {
        margin-right: 120px;
    }
} */
/* .subscribe.form-control {
    background-color: grey;
    border: 1px solid #7f7f7f;
}

.subscribe.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
} */
/*
.submit-icon {
    background-color: #7f7f7f;
    border: 0 none;
    border-radius: 0;
    color: #c1c1c1;
    padding: 15px 20px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    bottom: 0;
}

.submit-icon .fa-paper-plane {
    position: relative;
    top: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
} */
/*
.submit-icon:hover .fa-paper-plane {
    position: relative;
    top: -37px;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
} */

.footer-social {
    display: flex;
    justify-content: center;
    margin: 40px 300px;
    background-color: blue;
}

@media (max-width: 480px) {
    .footer-social {
        /* margin: 20px 150px; */
        margin: 0 1em;
        margin-bottom: 30px;
    }
}

.footer-social ul {
    /* list-style: outside none none; */
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    /* put icons horizontally and spaced properly */
    display: inline-block;
    margin: 0 10px;
}

.footer-social ul li a {
    color: #fff;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.footer-social ul li a:hover {
    color: #0088cc;
}

.copyright h3 {
    margin: 0 auto;
    font-size: var(--fsbody-med);
    color: #fff;
    text-align: center;
}

.regulations a {
    color: #ececec;
    font-size: var(--fsbody);
}

.regulations ul {
    display: flex;
    justify-content: space-evenly;
}

.regulations ul li {
    list-style: none;
    margin: 1em auto;
    /* margin-left: 260px;  */
}

.ssl-logo {
    display: flex;
    margin-bottom: 2em;
    margin: 0 auto;
    padding-bottom: 1em;
    pointer-events: none;
    cursor: default;
}

.ssl-logo img {
    width: 100%;
    height: auto;
}



@media (max-width: 480px) {
    .ssl-logo img {
        margin: 0 auto;
        /* margin-left: 15px; */
        padding: 1em;
    }


    /* //OLD HALLOWEEN 2020 CODE FOR HOME PAGE */


    .sslogo {
        margin-left: .5em;
    }

    #about .summary-statement p {
        font-size: var(--fsbody-lg);
    }

    #about .work-item {
        font-size: var(--fsbody-lg);
    }
}

/* //ipads retina 768 x 1024 */

/* //ipads mini(7.9), 9.7, pro10.5 */

/* //media query for 1200 + displays */

@media (min-width: 1200px) {

    #about .summary-statement p {
        font-size: 1.25em;
    }

    #about .work-item {
        font-size: 1.0em;
    }

    /* .testimonial-item .clearfix p {
            font-size: 1.50em;
        } */
}

/* ++++++++++++++++++++++++++++ */
/* MINIMUM WIDTH 1365PX */
/* +++++++++++++++++++++++++++ */

@media (min-width: 1365px) {

    .sslogo {
        margin-left: -1.5em;
    }
}

/* //screens 1600+ pixels */

@media (min-width: 1599px) {}

/* ++++++++++++++++++++++++++++ */
/* //MINIMUM WIDTH 1679PX */
/* +++++++++++++++++++++++++++ */

@media (min-width: 1679px) {}



/* //RESPONSIVE SIZES */

@media (min-width: 980px) and (max-width: 1150px) {


    #about .welcome-block img {
        margin-bottom: 30px;
    }

    /* portfolio */
    .figcaption.mask {
        bottom: -151px;
    }

    .testimonial-item>div:after {
        bottom: -40px;
    }
}

/*============================================================
Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {

    /* home slider  */
    /* about */
    .recent-works {
        margin-bottom: 1em;
    }

    .service-item {
        margin-bottom: 50px;
    }

    /* portfolio */
    .portfolio-item {
        width: 48%;
    }

    .testimonial-item>div::after {
        bottom: -35px;
    }

    /* price */
    .price-table {
        margin-bottom: 50px;
    }

    /* contact form */
    .contact-form {
        margin-bottom: 50px;
    }
}

/*==================================
Tablet Design for logo of a width of 980x1280*/

/*============================================================
Mobile (Portrait) Design for a width of 767px
==============================================================*/

@media (max-width: 768px) {
    body {
        font-size: 80%;
    }

    .parallax {
        background-position: centet tip !important;
    }

    /*navigation*/
    /* .navbar-default .navbar-toggle {
            border: 2px solid blue;
            border-radius: 8px;

        } */
    /* about */
    .recent-works {
        margin-bottom: 85px;

        font-size: .85em;
    }

    #about h3 {
        margin: 20 0 35px !important;
    }

    #about .owl-buttons {
        margin-top: 20px;
    }

    #about .message-body {
        margin-bottom: 45px;
    }

    #about .welcome-block img {
        margin: 0 25px 15px 0;
    }

    #about .summary-statement {
        font-size: .85em;
    }

    /* service */
    .service-item {
        width: 100%;
    }

    .service-icon i {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: rotate(-48deg);
        transform: rotate(-48deg);
        color: #d2b48c;
    }

    .figcaption.mask h4 {
        margin: 0;
        color: #fff;
        font-size: 40%;
    }

    /* lightbox */
    .fancybox-title h3 {
        font-size: 80%;
    }

    .fancybox-title p {
        font-size: 80%;
    }

    /* price */
    .price-table {
        margin-bottom: 50px;
    }

    /* follow us */
    .social-button li:nth-child(2) {
        margin: 0 25px;
    }

    .social-button li a {
        height: 65px;
        line-height: 71px;
        width: 65px;
    }

    /* contact form */
    .contact-form {
        margin-bottom: 50px;
    }

    /* footer */
    .footer-content {
        width: 100%;
    }

    .footer-social ul li {
        margin: 0 7px;
    }
}

/* ============================================================
Mobile (Landscape) Design for a width of 480px
============================================================== */

@media (max-width: 767px) {

    /* .caption-content h2
{font-size: 225%;}*/
    .sec-title h2:after {
        left: 38%;
    }

    /* home slider */
    body p {
        font-size: 80%;
    }

    /*about*/
    #about .welcome-block h3 {
        margin: 0 0 35px;
    }

    /* service */
    .service-item {
        margin: 0 auto 50px;
        width: 55%;
    }

    /* portfolio */
    .portfolio-item {
        width: 48%;
    }

    .figcaption.mask h4 {
        margin: 0;
        color: #fff;
        font-size: 40%;
    }

    /* social */
    .social-button li:nth-child(2) {
        margin: 0 50px;
    }

    .social-button li a {
        height: 90px;
        line-height: 96px;
        width: 90px;
    }

    /* price */
    .price-table {
        margin-bottom: 50px;
    }

    /* contact form */
    .contact-form {
        margin-bottom: 50px;
    }

    /* footer */
    .footer-content {
        width: 380px;
    }

}