@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Varela+Round&display=swap');

:root {
    --primary-color: #3a4052;
    --font-size: 1rem;
    --fh1: 4.5rem;
    --fh1-med: 3.75rem;
    --fh1-lg: 3.5rem;
    --fh1-xlg: 8em;
    --fh2: 2.0rem;
    --fh3: 1.7rem;
    --fh2-480:1.75rem;
    --fh3-480: 2.0rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-video {
    margin: 0;
    font-family: 'Open Sans', serif;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    overflow-x: hidden;
}

.body-video p {
    color: #fff;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.headerh1 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fh1);
    line-height: 1.2;
    margin-bottom: .25em;
    letter-spacing: 3px;
}

.headerh2 {
    letter-spacing: 1.75px;
    font-family: 'Varela', sans-serif;
    font-weight: 300;
    margin-bottom: 2.5px;
    color: red;
}

.headerh4 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
}

.headerh6 {
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

#showcase-video {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #3a4052  url('./img/slider/railroad_snow.jpg') no-repeat center center/cover;
}

/* //keep video centered */
.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.poster {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /*   z-index: 10; */
}

/* //overlay */
.video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .35);
}

/* **header and footer */
.content-video {
    z-index: 10;
}

.footer-video {
    z-index: 10;
    letter-spacing: 1px;
}

/* **button */
.btn-video {
    display: inline-block;
    padding: 8px 15px;
    background: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    color: red;
    border: #fff 1px solid;
    border-radius: 8px;
    margin-top: 20px;
    opacity: 0.7;
    margin-bottom: 20px;
    /* z-index: 2; */
}

.btn-video:hover {
    transform: scale(0.90);
    color: #fff;
}

@media (max-width: 480px) {
    .headerh1 {
        font-size: var(--fh1-med);
    }
    .headerh2 {
        font-size: var(--fh2);
        font-weight: 300;
    }
}

@media (min-width: 768px) {
    .headerh1 {
        font-size: var(--fh1-lg);
    }

    .headerh2 {
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .headerh4 {
        line-height: 1.3;
    }

    #showcase-video {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}
@media (min-width: 1024px) {
    .headerh1 {
        font-size: 6.5rem;
    }
}
