@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    /*     --primary-color: #3a4052; */
    --primary-color: goldenrod;
    --fh1: 4.00rem;
    --fh1-med: 4.50rem;
    --fh1-lg: 5.5rem;
    --fh1-xlg: 7rem;
    --fh1-1600: 10rem;
    --fh2: 1.75rem;
    --fh2-sm: 2.25rem;
    --fh2-med: 3.0rem;
    --fh2-lg: 4.0rem;
    --fh2-xlg: 4.75rem;
    --fh2-1600: 6.0rem;
    --fh4: 1.25rem;
    --fh4-sm: 1.50rem;
    --fh4-med: 2rem;
    --fh4-lg: 3.0rem;
    --fh4-xlg: 3.75rem;
    --fh4-1600: 4.0rem;
    --fh6: .5rem;
    --fh6-med: .75rem;
    --fh6-lg: 1.0rem;
    --fh6-xlg: 1.5rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* .body-video {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 1.5;
    overflow-x: hidden;
}

.body-video p {
    color: #fff;
    font-weight: bold;
} */

a {
    text-decoration: none;
    color: var(--primary-color);
}

.content-video {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    z-index: 10000;
}

#showcase-video .headerh1 {
    font-weight: 800;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fh1);
    margin-top: 1em;
    line-height: 1em;
    margin-bottom: .15em;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#showcase-video .headerh2 {
    font-size: var(--fh2-med);
    letter-spacing: 1.75px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 1.5em;
    line-height: 1em;
    color: #ececec;
    text-transform: uppercase;
}

#showcase-video .headerh4 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    color: #ececec;
    line-height: 1.15em;
    font-size: var(--fh4);
    /* margin: 20px 1em; */
}

#showcase-video .headerh6 {
    font-size: var(--fh6-med);
    letter-spacing: 2px;
    font-weight: 300;
    color: #ececec;
}

#showcase-video {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 7em 4.75em;
    color: #fff;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* //keep video centered */
.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //if video doesn't work */
/* .poster {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* //overlay */
.video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: rgba(3, 9, 4, .5); */
    background: #03a9f4;
    opacity: .3;
}

/* //social buttons */
.footer-video {
    z-index: 10;
    letter-spacing: 2.25px;
    margin-left: .25em;
}

#container-btn {
    display: flex;
    margin-left: 0;
    justify-items: space-between;
    align-items: center;
}

/* **button */
.btn-video-join {
    display: inline-flex;
    padding: 8px 15px;
    background: var(--primary-color);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    color: #272727;
    border-radius: 8px;
    margin-top: 20px;
    opacity: .8;
    margin-bottom: 20px;
}

.btn-video-learn {
    display: inline-flex;
    padding: 8px 15px;
    background: var(--primary-color);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    font-size: 1rem;
    margin-left: 2%;
    text-decoration: none;
    font-weight: 400;
    color: #272727;
    border-radius: 8px;
    margin-top: 20px;
    opacity: .8;
    margin-bottom: 20px;
}

.btn-video-join:hover {
    transform: scale(0.90);
    color: #fff;
    background: transparent;
}

.btn-video-learn:hover {
    transform: scale(0.90);
    color: #fff;
    background: transparent;
}

.social {
    position: absolute;
    z-index: 10;
    top: 30.5em;
    bottom: 20px;
    right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.social .fa i li a {
    background-color: #fff;
}

/* ********************
 //MEDIA QUERIES 
********************* */

@media (max-width: 480px) {
    #showcase-video {
        margin-top: 0em;
        width: 120%;
        height: 100vh;
        padding-left: 3em;
    }

    #showcase-video .headerh1 {
        font-size: 3em;

        line-height: 1em;
        width: 120%;
        margin-top: 4em;
    }

    #showcase-video .headerh2 {
        line-height: 1.2;
        margin-bottom: 10px;
        font-size: var(--fh4-sm);
    }

    #showcase-video .headerh4 {
        width: 90%;
        line-height: 1.05;
        font-size: var(--fh4);
        margin-top: 2em;
    }

    .footer-video.headerh6 {
        display: grid;
        padding-left: 0;
        /* line-height: 1em; */
    }

    #container-btn {
        width: 65%;
        margin-top: 1em;
        margin-bottom: 3em;
        font-size: .5em;
    }

    .footer-video .social {
        top: 45em;
        right: 8em
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .navbar-default {
        background-color: transparent;
        z-index: 20000;
    }

    .navbar .navbar-brand {
        top: 0;
        margin: -1em 0 0 15px;
        padding: -5px 0 0 0;
        overflow: hidden;
    }

    .navbar-default .navbar-toggle {
        z-index: 4;
    }

    .navbar-collapse .collapse.in ul li::after {
        padding: 0;
    }

    .navbar-default .collapse.in ul {
        height: 1000px;
        padding: 0;
        width: 40%;
        background-color: #000;
        overflow: hidden;
    }

    .navbar-default .collapse.in ul li::before {
        padding: 0;
        font-size: 10px;
        text-align: center;
        overflow: hidden;
    }

    #showcase-video {
        width: 100%;
        height: 100vh;
        min-height: 100%;
        margin-left: 0;
        margin-top: -3em;
    }

    #showcase-video .headerh1 {
        margin-top: 30%;
        font-size: var(--fh2-xlg);
        width: 120%;
        line-height: 1em;
    }

    #showcase-video .headerh2 {
        font-size: var(--fh2-med);
        line-height: 1em;
        margin-bottom: .75rem;

    }

    #showcase-video .headerh4 {
        font-size: var(--fh4-med);
        margin-top: 2em;
        line-height: 1em;
        width: 80%;

    }

    #showcase-video .headerh6 {
        display: grid;
        font-size: var(--fh6-xlg);
        margin-left: 0em;
        letter-spacing: 3px;
        line-height: 1.25em;
    }

    #container-btn {
        width: 50%;
        margin-top: 1.5em;
        margin-bottom: 4em;
    }

    .video-container img {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }

    .social {
        top: 65em;
    }
}

/* @media only screen and (min-device-width: 780px) and (max-device-height: 1024px) and (orientation: portrait) {  */
@media (min-width: 834px) {
    #showcase-video .headerh1 {
        font-size: var(--fh1-med);
        line-height: 1em;
        width: 100%;
        margin-top: .55em;
        /* color: limegreen */
    }

    #showcase-video .headerh2 {
        font-size: var(--fh2-med);
        width: 100%;
        /* color: blue; */
    }

    #showcase-video .headerh4 {
        font-size: var(--fh4-med);
        margin-top: 20px;
        /* color: purple; */
    }

    #showcase-video .headerh6 {
        margin-right: 0;
        font-size: var(--fh6-sm);
        /* color: red; */
    }

    #container-btn {
        width: 85%;
        margin: 1em;
        margin-left: 0;
    }

    .video-container img {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

@media (min-width: 1279px) {
    #showcase-video .headerh1 {
        font-size: var(--fh1-lg);
        margin-top: 1.55em;
        /* color: turquoise; */
    }

    #showcase-video .headerh2 {
        font-size: var(--fh2-lg);

        margin-bottom: 1em;
    }

    #showcase-video.headerh4 {
        font-size: var(--fh4-lg);
    }

    #showcase-video .headerh6 {
        font-size: var(--fh6-lg);
    }

    #container-btn {
        width: 85%;
    }

    .video-container img {
        width: 100%;
        height: 100vh;
        /* min-height: 100vh; */
    }
}

@media (min-width: 1364px) {
    #showcase-video .headerh1 {
        /* color: green; */
        margin-top: 2em;
        font-size: var(--fh1-xlg);
    }

    .social {
        top: 45em;
    }

    #showcase-video .headerh6 {
        font-size: var(--fh6-xlg);
    }

    #container-btn {
        width: 98%;
    }
}